<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1&{{ GET_PARAMS }}">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ GET_PARAMS }}">previous</a></li>
        {% endif %}

        

        <span class="current">
        <li class="page-item"><a class="page-link">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li> 
        </span>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ GET_PARAMS }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ GET_PARAMS }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

<form accept="?page={{ page_obj.next_page_number }}&{{ GET_PARAMS }}" method="get">
    <input type="number" name="page" value="{{ page_obj.number }}"><br>
    <input type="submit" value="Submit">
</form> 