{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <a href="{% url 'account:password_change' pk=user.id %}">Chenge password</a>
      <br>
      <a href="{% url 'account:avatar_create' pk=user.id %}">Add Avatar</a>
      <br>
      <a href="{% url 'account:avatar_list' pk=user.id %}">Avatar List</a>
      <form action="" method='POST'>
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-primary">Primary</button>
      </form>
    </div>
  </div>
{% endblock content %}
