{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <form action="{% url 'rate:contactuscreate' %}" method='POST'>
        <div class="form-group">
          <br>
          {% csrf_token %}
          Email: <br>
          {{ form.email }} <br>
          Subject: <br>
          {{ form.subject}} <br>
          Massage: <br>
          {{ form.massage}} <br>
        </div>
        <button type="submit" class="btn btn-primary">Primary</button>
      </form>
    </div>
  </div>
{% endblock content %}


