{% extends 'base.html' %}

{% block content%}
  <div class='row'>
    <div class='col'>
      <a href="{% url 'rate:downloadallrates' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Download</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Currency</th>
            <th scope="col">Source</th>
            <th scope="col">Buy</th>
            <th scope="col">Sale</th>
            <th scope="col">Last update</th>
            {% if user.is_superuser %}
              <th scope="col"><a href="">∧</a></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for row in rate_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ row.get_currency_display }}</td>
            <td>{{ row.get_source_display }}</td>
            <td>{{ row.buy }}</td>
            <td>{{ row.sale }}</td>
            <td>{{ row.created }}</td>
            {% if user.is_superuser %}

              <th>
                <a href="{% url 'rate:updaterate' row.id %}" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">O</a>
                <a href="{% url 'rate:deleterate' row.id %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">X</a>
              </th>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content%}